{% extends "template.html" %}

{%block content %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="d-flex flex-wrap justify-content-center">
                {% for produtos in product %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ produtos.product_name }}</h5>
                                <!-- Product price-->
                                Preço: {{ produtos.product_price }}
                                Quantidade: {{ produtos.product_quantity }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
